html {
    background-color: #ffcb2f;
    font-size: 1em;
    

}

header {
    background: url("marble.jpg") no-repeat;
    height: 550px;

}


.profile-pic {
    position: relative;
    border: solid 2px #EEB422;
    border-radius: 50%; 

    margin-left: 600px; 
    margin-top: 110px; 
   
    /*bottom: -120px;
    left: 580px; */

    /* margin-left: 550px; 
    margin-top: 140px; */
    bottom: 10px;
    left: 10px;

}

.mobile-intro-para {
    display: none;
}

/* my phone screen */
@media only screen and (min-device-width: 320px) 
                    and (max-width: 568px) {


    .profile-pic {
        margin: auto;
        position: relative;
        top: 100px;
        left: 50px;

        border: solid 2px #EEB422;
        border-radius: 50%; 
        
    }

    .mobile-intro-para {
        display: inline;

        font-family: 'Poiret One', sans-serif;
    }

   .mobile-intro-items {
        margin-left: 15px;
   }

   .mobile-intro-items a {
        text-decoration: none;
   }

   .mobile-intro-items a {
        text-decoration: none;
   }

    .intro-para {
        display: none;
    }

    .intro-para h3 {
        display: none;
    }

    .container a {
        display: none;
    }

    .container .dropbtn {
        display: none;
    }


   
}

/* the nav bar */
.container a {
    float: right;

    font-size: 16px;
    font-family: 'Poiret One', sans-serif;

    /* color: hsl(72, 7%, 75%); */
    color: darkslategrey;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;

}

.container .dropbtn {
    float: right;

    font-size: 16px;
    font-family: 'Poiret One', sans-serif;

    /* color: hsl(72, 7%, 75%); */
    color: darkslategrey;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;

}

.container a:hover {
    border-bottom: 2px solid gold;
}

.container .dropbtn:hover {
    border-bottom: 2px solid gold;

}


.dropbtn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 10px 0px 10px;
    background-color: inherit;
}

.dropdown-content {
    z-index: 1;

    display: none;
    position: absolute;
    bottom: 540px;
    right: 255px;
    background-color: #FEF2E6;
    min-width: 70px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    display: block;

    float: none;
    padding: 12px 16px;

    font-family: 'Poiret One', sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    color: black;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.my-name {
    position: absolute;
    left: 15px;
    bottom: 580px;

}

.my-name h3 {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    color: #EEB422;
}

.fa {
    border-radius: 50%;

    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;

    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;

}

.fa:hover { opacity: 0.5; }

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #7DFF1A;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-github {
    background: #C20081;
    color: black;
}

.intro-para {

    position: absolute;
    border: solid 3px #EEB422;
    text-align: center;
    padding: 10px;
    top: 393px;
    left: 400px;
    /* margin-top: 100px;
    margin-left: 400px; */
}

.intro-para h3 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; /* keeps content on a single line */
    margin: 0 auto;
    letter-spacing: .15em;
}

.intro-para h3 {

    font-family: 'Major Mono Display', sans-serif;
    font-size: 17px;
    font-weight: 400;

    color: darkslategrey;

    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }

    overflow: hidden;
    border-right: .15em solid gold;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(50, end) infinite,
        blink-caret .75s step-end infinite;
}

/* typewriter cursor effect */
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: gold}

}
.show {
    display: block;
}

footer { font-family: 'Poiret One', sans; }
