html {
    background-color: #ffcb2f;
    font-size: 1em;
    

}


.marble  {
    position: relative;
    bottom: 40px;
    background: url("marble.jpg") no-repeat;
    height: 550px;


}

/* marble background for just the top header */
.marble-header {
    position: relative;
    bottom: 40px;
    background: url("marble.jpg") no-repeat;
    height: 550px;
}



.profile-pic {
    position: relative;
    border: solid 2px #EEB422;
    border-radius: 50%; 

    margin-left: 600px; 
    margin-top: 110px; 
   
    /*bottom: -120px;
    left: 580px; */

    /* margin-left: 550px; 
    margin-top: 140px; */
    bottom: -5px;
    left: -4px;

}

.mobile-intro-para {
    display: none;
}

/* my phone screen */
@media only screen and (min-device-width: 320px) 
                    and (max-width: 568px) {

    .marble {
        display: none;
    }

    /* the marble background */
    .marble-header {
        position: relative;
        bottom: 40px;
        background: url("marble.jpg") no-repeat;
        height: 550px;
    }

    .profile-pic {
        margin: auto;
        position: relative;
        top: 100px;
        left: 50px;

        border: solid 2px #EEB422;
        border-radius: 50%; 
        
    }

    .mobile-intro-para {
        display: inline;


        font-family: 'Poiret One', sans-serif;
    }


   .mobile-intro-items {
        margin-left: 15px;
   }

   .mobile-intro-items a {
        text-decoration: none;
   }

   .mobile-intro-items a {
        text-decoration: none;
   }

    .intro-para {
        display: none;
    }

    .intro-para h3 {
        display: none;
    }

    .container a {
        display: none;
    }

    .container .dropbtn {
        display: none;
    }
    .nav-bar {
        display: none;
    }

    /* my name in the nav */
    .nav-bar p {
      display: none;
    }



    /* the nav bar */
    .nav-bar a {

      display: none;

    }


    .nav-bar a:hover {
      display: none;
    }

    .nav-bar .dropbtn:hover {
       display: none;

    }

    .container {
      display: none;
    }

    /* The Section Titles */
    .container .sub-head {
        display: none;
        
    }


    #about img {
       display: none;
    }

    #about p span {
      display: none;
    }

    #about p {
       display: none;
    }

    .coding-languages {
      display: none;
    }


    #skills .container {
       display: none;

    }

    #skills .container .heart {
      display: none;
    }

    #skills .container .heart:hover {
       display: none;
    }
    #skills .container .heart p {
       display: none;
    }

    #projects .container {
       display: none;
    }


    /* the individual projects */
    #projects .container .proj {
      display: none;

    }

    #projects .container .proj .wrapper {
      display: none;
    }
    #projects .container .proj .text {
       display: none;
    }

    #projects .container .proj .text:hover {
        display: none;
    }
    .fa {
      display: none;

    }

    .fa:hover { 
        display: none; 
    }

    .fa-instagram {
       display: none;
    }

    .fa-linkedin {
       display: none;
    }

    .fa-twitter {
      display: none;
    }

    .fa-github {
      display: none;
    }

    .intro-para {
        display: none;
    }

    .intro-para h3 {
       display: none;
    }

    .intro-para h3 {
       display: none;
    }


    .form {
      display: none;

    }

    .form input {
      display: none;

    }

    .form #messageLabel {
        display: none;
    }
     /* the text box */
    .form #messageText {
        display: none;

    }

    #sendMsg {
        display: none;
    }



    .form #message:focus, input:focus {
        display: none;
    }

    .form #btn {
      display: none;

    } 
} /* end of the mobile screen */

.nav-bar {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    overflow: auto;
    opacity: 0.9;
   
}

/* my name in the nav */
.nav-bar p {
  

    position: relative;
    bottom: -10px;
    left: 10px;

    font-family: 'Major Mono Display', sans-serif;
    font-weight: bold;
}



/* the nav bar */
.nav-bar a {

    position: relative;
    top: 10px;
    float: right;


    font-size: 16px;
    font-family: 'Quicksand', sans-serif;

    /* color: hsl(72, 7%, 75%); */
    color: darkslategrey;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;

}


.nav-bar a:hover {
    border-bottom: 2px solid gold;
}


.container {
    display: flex;
    flex-direction: column
}

/* The Section Titles */
.container .sub-head {
    font-family: 'Major Mono Display', sans-serif;
    text-align: center;
    
}


#about img {
    position: relative;
    bottom: 60px;
    float: right;
}

#about p span {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#about p {
    font-family: 'Quicksand', sans-serif;
}

.coding-languages {
    font-size: 10px;
}


#skills .container {
    display: flex;
    flex-direction: row;


}

#skills .container .heart {
    padding: 10px;
    position: relative;
    left: 250px;

}

#skills .container .heart:hover {
    opacity: 0.3;
}
#skills .container .heart p {
    position: relative;
    bottom: 40px;
    left: 30px;
    font-size: 15px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
}

#projects .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 300px;

}


/* the individual projects */
#projects .container .proj {
    position: relative;
    left: 100px;
    top: 200px;

    padding: 10px;

}

#projects .container .proj .wrapper {
    position: relative;
    padding: 0;
    display:block;
}
#projects .container .proj .text {
    position: absolute;
    top: 0;
    color: black;
    background-color:rgba(255,255,255,0.8);
    width: 200px;
    height: 200px;
    border-radius: 10px;

    text-align: center;
    font-family: 'Quicksand', sans-serif;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#projects .container .proj img {
    object-fit: cover;
    border-radius: 10%;
}

#projects .container .proj .text:hover {
    opacity: 1;
}
.fa {
    border-radius: 50%;

    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;

    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;

}

.fa:hover { opacity: 0.5; }

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #7DFF1A;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-github {
    background: #C20081;
    color: black;
}

.intro-para {

    position: absolute;

    text-align: center;
    padding: 10px;
    top: 410px;
    left: 320px;
    /* margin-top: 100px;
    margin-left: 400px; */
}

.intro-para h3 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; /* keeps content on a single line */
    margin: 0 auto;
    letter-spacing: .15em;
}

.intro-para h3 {
    position: relative;
    bottom: 10px;
    left: 160px;

    font-family: 'Major Mono Display', sans-serif;
    font-size: 17px;
    font-weight: 400;

    color: darkslategrey;

    animation:
        typing 2.5s steps(40, end),
        blink-caret .90s step-end infinite;
}


.form {
   /* margin: auto;*/
    padding: 10px;

    position: relative;
    top: 30px;
    left: 490px;

    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-decoration: none;

}

.form input {
    display: block;

    width: 375px;
    height: 25px;
    border-radius: 25px;

}

.form #messageLabel {
    display: block;
}
 /* the text box */
.form #messageText {
    position: "relative";
    bottom: 120px;
       border-radius: 25px;

    width: 375px;
    height: 125px;

}

#sendMsg {
    display: block;
    border: 1px solid gold;
    width: 375px;
    text-align: center;
}


    /* position: absolute;
    right: 20px;
    bottom: 20px;

    border: solid 2px #EEB422;
    border-radius: 15px;

    color: grey;
    font-family: "Mada", serif;

    width: 100px;
    height: 30px; */


.form #message:focus, input:focus {
    border: 1px solid #09C;
}

.form #btn {
    background-color: #99ffe6;
    display: block;
 
    border-radius: 40px;
    width: 250px;
    height: 40px;
    margin-left: 50px;

}



@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }

    overflow: hidden;
    border-right: .15em solid gold;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(50, end) infinite,
        blink-caret .75s step-end infinite;
}

/* typewriter cursor effect */
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: gold}

}
.show {
    display: block;
}

footer { font-family: 'Quicksand', sans; }
